#ballWrapper {
	width: 140px;
	position: fixed;
	left: 50%;
	top: 30%;
	margin: -150px 0 0 -70px;
	background-color: black;
}

.ball {
	width: 100px;
	height: 100px;
	border-radius: 70px;
	margin: 1em;
}

button{
	position: fixed;
    transform: rotate(90deg);
	margin-top: 77px;
    margin-left: 7%;
    
}